<section class="jumbotron text-center" >
    <div class="container">
        <h1> Welcome to Faust Furniture</h1>
        <h2>Categories Available:</h2>

        <%= link_to 'All furnitures Available', products_path("chair") %> <br>
        <%= link_to 'Select one Category', products_path("")%>
</div>

<%=image_tag ("hero.jpg"),{:style => "height:35vw;width:70vw;margin-left:100px;margin-top:15px;"}%>

  </section>






  