<section class="jumbotron text-center" >
    <div class="container">
        <h1> Welcome to Faust Furniture</h1>
        <h2>Categories Available:</h2>

        <%= link_to 'All furnitures Availabel', products_path %>
</div>
  </section>

<%=image_tag ("hero.jpg"),{:style => "height:30vw;width:70vw;margin-left:200px;margin-top:15px;"}%>







  