<h1> Welcome to Faust Furniture</h1>
<h2>Categories Available:</h2>

<%= link_to 'All furnitures Availabel', products_path %><br>

<%=image_tag ("hero.jpg"),{:style => "height:35vw;width:60vw;margin-left:200px;margin-top:65px;"}%>






  